.bttn-default {
  color: #fff;
}

.bttn-primary,
.bttn,
.bttn-lg,
.bttn-md,
.bttn-sm,
.bttn-xs {
  color: #1d89ff;
}

.bttn-warning {
  color: #feab3a;
}

.bttn-danger {
  color: #ff5964;
}

.bttn-success {
  color: #28b78d;
}

.bttn-royal {
  color: #bd2df5;
}

.bttn,
.bttn-lg,
.bttn-md,
.bttn-sm,
.bttn-xs {
  margin: 0;
  padding: 0;
  border-width: 0;
  border-color: transparent;
  background: transparent;
  font-weight: 400;
  cursor: pointer;
  position: relative;
}

.bttn-lg {
  padding: 8px 15px;
  font-size: 24px;
  font-family: inherit;
}

.bttn-md {
  font-size: 20px;
  font-family: inherit;
  padding: 5px 12px;
}

.bttn-sm {
  padding: 4px 10px;
  font-size: 16px;
  font-family: inherit;
}

.bttn-xs {
  padding: 3px 8px;
  font-size: 12px;
  font-family: inherit;
}

.bttn-float {
  margin: 0;
  padding: 0;
  border-width: 0;
  border-color: transparent;
  background: transparent;
  font-weight: 400;
  cursor: pointer;
  position: relative;
  font-size: 20px;
  font-family: inherit;
  padding: 5px 12px;
  overflow: hidden;
  border: 1px dotted #fff;
  border-radius: 4px;
  background: rgba(255, 255, 255, 0.4);
  color: #fff;
  -webkit-transition: opacity 0.3s cubic-bezier(0.02, 0.01, 0.47, 1), box-shadow 0.2s cubic-bezier(0.02, 0.01, 0.47, 1), -webkit-transform 0.3s cubic-bezier(0.02, 0.01, 0.47, 1);
  transition: opacity 0.3s cubic-bezier(0.02, 0.01, 0.47, 1), box-shadow 0.2s cubic-bezier(0.02, 0.01, 0.47, 1), -webkit-transform 0.3s cubic-bezier(0.02, 0.01, 0.47, 1);
  transition: transform 0.3s cubic-bezier(0.02, 0.01, 0.47, 1), opacity 0.3s cubic-bezier(0.02, 0.01, 0.47, 1), box-shadow 0.2s cubic-bezier(0.02, 0.01, 0.47, 1);
  transition: transform 0.3s cubic-bezier(0.02, 0.01, 0.47, 1), opacity 0.3s cubic-bezier(0.02, 0.01, 0.47, 1), box-shadow 0.2s cubic-bezier(0.02, 0.01, 0.47, 1), -webkit-transform 0.3s cubic-bezier(0.02, 0.01, 0.47, 1);
}

.bttn-float:hover,
.bttn-float:focus {
  box-shadow: 0 30px 30px rgba(0, 0, 0, 0.16);
  opacity: 0.85;
  -webkit-transition: opacity 0.2s cubic-bezier(0.02, 0.01, 0.47, 1), box-shadow 0.4s cubic-bezier(0.02, 0.01, 0.47, 1), -webkit-transform 0.2s cubic-bezier(0.02, 0.01, 0.47, 1);
  transition: opacity 0.2s cubic-bezier(0.02, 0.01, 0.47, 1), box-shadow 0.4s cubic-bezier(0.02, 0.01, 0.47, 1), -webkit-transform 0.2s cubic-bezier(0.02, 0.01, 0.47, 1);
  transition: transform 0.2s cubic-bezier(0.02, 0.01, 0.47, 1), opacity 0.2s cubic-bezier(0.02, 0.01, 0.47, 1), box-shadow 0.4s cubic-bezier(0.02, 0.01, 0.47, 1);
  transition: transform 0.2s cubic-bezier(0.02, 0.01, 0.47, 1), opacity 0.2s cubic-bezier(0.02, 0.01, 0.47, 1), box-shadow 0.4s cubic-bezier(0.02, 0.01, 0.47, 1), -webkit-transform 0.2s cubic-bezier(0.02, 0.01, 0.47, 1);
}

.bttn-float.bttn-xs {
  padding: 3px 8px;
  font-size: 12px;
  font-family: inherit;
}

.bttn-float.bttn-xs:hover,
.bttn-float.bttn-xs:focus {
  -webkit-transform: translateY(-6px);
  transform: translateY(-6px);
}

.bttn-float.bttn-sm {
  padding: 4px 10px;
  font-size: 16px;
  font-family: inherit;
}

.bttn-float.bttn-sm:hover,
.bttn-float.bttn-sm:focus {
  -webkit-transform: translateY(-8px);
  transform: translateY(-8px);
}

.bttn-float.bttn-md {
  font-size: 20px;
  font-family: inherit;
  padding: 5px 12px;
}

.bttn-float.bttn-md:hover,
.bttn-float.bttn-md:focus {
  -webkit-transform: translateY(-10px);
  transform: translateY(-10px);
}

.bttn-float.bttn-lg {
  padding: 8px 15px;
  font-size: 24px;
  font-family: inherit;
}

.bttn-float.bttn-lg:hover,
.bttn-float.bttn-lg:focus {
  -webkit-transform: translateY(-12px);
  transform: translateY(-12px);
}

.bttn-float.bttn-default {
  border-color: #fff;
  background: rgba(255, 255, 255, 0.4);
  color: #fff;
}

.bttn-float.bttn-primary {
  border-color: #1d89ff;
  background: rgba(29, 137, 255, 0.4);
  color: #1d89ff;
}

.bttn-float.bttn-warning {
  border-color: #feab3a;
  background: rgba(254, 171, 58, 0.4);
  color: #feab3a;
}

.bttn-float.bttn-danger {
  border-color: #ff5964;
  background: rgba(255, 89, 100, 0.4);
  color: #ff5964;
}

.bttn-float.bttn-success {
  border-color: #28b78d;
  background: rgba(40, 183, 141, 0.4);
  color: #28b78d;
}

.bttn-float.bttn-royal {
  border-color: #bd2df5;
  background: rgba(189, 45, 245, 0.4);
  color: #bd2df5;
}

#addBookmarkForm {
  box-shadow: 0 0.125rem 0.25rem rgba(0, 0, 0, 0.075) !important;
  border: 1.5px solid rgba(0, 0, 0, 0.125);
  border-radius: 0.45rem;
}

#addBookmark_btn, .heading {
  -moz-user-select: -moz-none;
  -khtml-user-select: none;
  -webkit-user-select: none;
  /*
    Introduced in IE 10.
    See http://ie.microsoft.com/testdrive/HTML5/msUserSelect/
  */
  -ms-user-select: none;
  user-select: none;
}

#adderForm input:focus {
  color: #495057;
  background-color: #fff;
  border-color: #80bdff;
  outline: 0;
  box-shadow: 0 0 0 0.2rem rgba(0, 123, 255, 0.25);
}

* {
  font-size: calc(14px + 0.15vw);
  font-family: sans-serif;
}

img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

body {
  background-color: whitesmoke;
  overflow-x: hidden;
  overflow-y: auto;
}

#addBookmarkForm {
  background-color: white;
  padding: 20px;
  width: 100%;
  margin: auto;
  max-width: 600px;
}

.heading {
  font-size: calc(18px + 0.5vw);
  text-align: center;
}

#adderForm {
  margin-top: 4vh;
  max-width: 80%;
  margin-left: auto;
  margin-right: auto;
  display: grid;
  grid-column-gap: 1.5vw;
  grid-row-gap: 2vh;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
}
#adderForm input {
  width: 100%;
  border: 1px solid #ced4da;
  border-radius: 0.35rem;
  padding: 8px;
  font: 400 calc(14px + 0.15vw) Arial;
}
#adderForm input:focus {
  transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}

#urlHolder {
  grid-column-start: 1;
  grid-column-end: 3;
}

.form-label-group {
  position: relative;
}

#addBookmark_btn {
  background-color: #4CAF50;
  color: white;
}

.icon-btn {
  width: 50px;
  height: 50px;
  background: #4CAF50;
  border: 1px solid #cdcdcd;
  border-radius: 25px;
  overflow: hidden;
  position: relative;
  transition: width 0.2s ease-in-out;
}

.add-btn:hover {
  width: 120px;
}

.add-btn::before,
.add-btn::after {
  transition: width 0.2s ease-in-out, border-radius 0.2s ease-in-out;
  content: "";
  position: absolute;
  height: 4px;
  width: 10px;
  top: calc(50% - 2px);
  background: white;
}

.add-btn::after {
  right: 14px;
  overflow: hidden;
  border-top-right-radius: 2px;
  border-bottom-right-radius: 2px;
}

.add-btn::before {
  left: 14px;
  border-top-left-radius: 2px;
  border-bottom-left-radius: 2px;
}

.icon-btn:focus {
  outline: none;
}

.btn-txt {
  opacity: 0;
  transition: opacity 0.2s;
  color: white;
}

.add-btn:hover::before,
.add-btn:hover::after {
  width: 4px;
  border-radius: 2px;
}

.add-btn:hover .btn-txt {
  opacity: 1;
}

.add-icon::after,
.add-icon::before {
  transition: all 0.2s ease-in-out;
  content: "";
  position: absolute;
  height: 20px;
  width: 2px;
  top: calc(50% - 10px);
  background: white;
  overflow: hidden;
}

.add-icon::before {
  left: 22px;
  border-top-left-radius: 2px;
  border-bottom-left-radius: 2px;
}

.add-icon::after {
  right: 22px;
  border-top-right-radius: 2px;
  border-bottom-right-radius: 2px;
}

.add-btn:hover .add-icon::before {
  left: 15px;
  height: 4px;
  top: calc(50% - 2px);
}

.add-btn:hover .add-icon::after {
  right: 15px;
  height: 4px;
  top: calc(50% - 2px);
}

#addFormContainer {
  display: none;
}

/*# sourceMappingURL=Main.css.map */
